
/* ==============================
 *      GLOBAL
 * =========================== */
body {
    background: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

*, *::before, *::after {
    box-sizing: inherit;
}
 
 /* ==============================
  *      LINKS
  * =========================== */
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
 
/* ==============================
 *      TEXT
 * =========================== */
%text {
    font-family: 'Yu Gothic';
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 120;
}

#name-text {
    @extend %text;
    margin-top: 120px;
    margin-bottom: -60px;
    font-size: 4.5vw;

    #surname-text {
       font-weight: 600;
    }
}
 
h2 {
    @extend %text;
    font-size: 2.5vw;
}

#email-text {
    @extend %text;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    color: rgb(119, 108, 6);
    font-size: 38px;
    border-bottom: 1px solid black;
    margin-top: 20px;

    &::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #000;
        transition: width .6s;
    }

    &:hover::after {
        width: 100%;
    }
}

/* ==============================
 *      MAIN DIV
 * =========================== */
%div {
    position: absolute;
    height: 50%;
    transition: .6s;
}

#top-div {
    @extend %div;
    width: auto;
    top: 0;
    background-image: radial-gradient(farthest-corner at 15% 101%,rgb(160, 144, 6),rgb(119, 108, 6));
}

#bottom-div {
    @extend %div;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(90deg, white 15%, rgb(221, 221, 221), white 85%);
}

/* ==============================
 *      NETWORK
 * =========================== */
#network-div {
    position: absolute;
    transform: translate(-50%, 0);
    margin-left: 50%;
    margin-right: auto;
    top: 20px;
    width: auto;
    height: 100%;
}

.network-logo {
    max-width: 120px;
    max-height: 120px;
    min-width: 60px;
    min-height: 60px;
    width: auto;
    height: auto;
    background-color: black;
    bottom: 80px;
    transition: .6s;
    margin: 10px
}
 
#linkedin:hover { background-color: #007BB5; }
#email:hover { background-color: #C92F24; }
#github:hover { background-color: #24292e; }
 

/* ==============================
 *      LOGO
 * =========================== */
#logo {
    position: absolute;
    top: 20px;
    left: 140px;
    width: 120px;
    height: 120px;
    transform: rotate(-35deg);
    transition: .6s;
    cursor: pointer;

    &:hover {
        transform: scale(1.15) rotate(145deg);
    }
}
 

/* ==============================
 *      RESPONSIVE
 * =========================== */

/* ********** 1400px ********** */
@media only screen and (max-width:1400px) {
    #name-text { margin-bottom: -55px;}
}

/* ********** 1250px ********** */
@media only screen and (max-width:1250px) {
    #name-text { font-size: 52px; margin-bottom: -50px;}
    h2 { font-size: 32px; }
}

/* ********** 900px ********** */
@media only screen and (min-width:900px) {
    #top-div { left: 120px; right: 120px; }
    #email-text { top: 35%; }
}
@media only screen and (max-width:900px) {
    #top-div { left: 0; right: 0; }
    .network-logo { max-width: 80px; max-height: 80px; }
    #email-text { font-size: 24px; top: 10px; }
    #network-div { top: 80px; }
    #logo { left: 20px; width: 100px; height: 100px; }
}

/* ********** 620px ********** */
@media only screen and (max-width:620px) {
    #network-div { margin-right: 50%; }
}

/* ********** 500px ********** */
@media only screen and (max-width:500px) {
    #name-text { font-size: 10vw; margin-bottom: -32px; }
    h2 { font-size: 6vw; }
    body { overflow-y: visible; }
    #logo { left: 20px; width: 80px; height: 80px; }
}

/* ********** 400px ********** */
@media only screen and (max-width:400px) {
    #name-text { font-size: 42px; }
    h2 { font-size: 22px; }
}